* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/bg.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
}

footer {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 100px;
    width: min(300px, 60vw);
}

.box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.num {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5px;
}

.pergunta h1 {
    font-size: min(24px, 5vw);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    max-width: min(930px, 90vw);
    text-align: center;
}

.resposta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn {
    width: min(300px, 80vw);
    height: min(50px, 80vw);
    border-radius: 10px;
    border-width: 0;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: min(22px, 5vw);
    cursor: pointer;
    box-shadow: 4px 5px 10px rgb(0 0 0 / 0.2);
    text-shadow: 2px 2px 3px rgb(0 0 0 / 0.2);
}

.yes {
    background-color: #db34c9;
}

.no {
    background-color: #188cfd;
}

.hide {
    display: none;
}

.warning {
    width: min(500px, 80vw);
    font-size: min(14px, 2.6vw);
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 0.2);
}