* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/bg.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.elementos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px 0;
}

.box {
    gap: 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(25rem, 90vw);
    border-radius: 10px;
    padding: 20px 0;
    box-shadow: 4px 5px 40px rgb(0 0 0 / 0.3);
}

.linha-01 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: min(2rem, 10vw);
}

.linha-02 {
    text-align: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: min(1rem, 10vw);
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: min(3px, 3vw);
    font-size: min(24px, 10vw);
    text-decoration: none;
    background-color: #db34c9;
    color: #ffffff;
    height: 70px;
    width: min(20rem, 76vw);
    border-radius: 10px;
    box-shadow: 4px 5px 10px rgb(0 0 0 / 0.3);
    text-shadow: 2px 2px 3px rgb(0 0 0 / 0.2);
}

.warning {
    width: min(31.25rem, 90vw);
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 0.2);
}
